attr==0.3.2
backports.statistics==0.1.0
chromadb==1.5.9
ConfigParser==7.2.0
cppyy==3.5.0
cryptography==50.0.1
docutils==0.23
filelock==3.32.6
fontTools==4.64.0
h2==4.4.1
HTMLParser==0.0.2
ipython==8.12.3
ipywidgets==8.1.9
jnius==1.1.0
js==1.0
keyring==25.7.0
langchain_core==1.6.2
langchain_google_genai==4.4.0
langchain_text_splitters==1.1.2
pandas==3.0.5
Pillow==12.3.0
pymupdf_fonts==1.0.5
pyodide==0.0.2
pyOpenSSL==26.4.0
python-dotenv==1.2.3
python_docx==1.2.0
redis==8.1.0
Sphinx==9.1.0
streamlit==1.63.0
thread==2.0.6
typer==0.27.2
typing_extensions==4.16.0
xmlrpclib==1.0.1
